<a href="https://colab.research.google.com/github/alekhya571/sample1/blob/main/CB_EN_U4CSE20109_Python_Lab_Assignmnet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [ ]:
#2
PI = 3.14
r = float(input("Enter radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.3f" %area)

Enter radius of a circle:3
Area of a circle = 28.260

In [ ]:
#3
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

In [ ]:
#4
a = input("Enter a String : ")
if len(a)>0:
    a1 = a[0]
    a = a.replace(a1,"$")
    print(a)
    a = a1 + a[1:]
    print(a)

Enter a String : restart
$esta$t
resta$t

In [ ]:
#5
a=input("Enter a string 1 : ")
b=input("Enter a string 2 : ")
c=b[0:2]+a[2:]
d=a[0:2]+b[2:]
print(c + " " + d)

Enter a string 1 : abc
Enter a string 2 : xyz
xyc abz

In [ ]:
#6
a=input("Enter a string 1 : ")
b=input("Enter a string 2 : ")
c=b[:2]+a[2:]
d=a[:2]+b[2:]
print(c + " " + d)

Enter a string 1 : abc
Enter a string 2 : xyz
xyc abz

In [ ]:
#7
a=input("Enter a string : ")
b=""
for i in range(len(a)):
  if (i%2==0):
    b= b + a[i]
print(b)

Enter a string : PYTHON
PTO

In [ ]:
#8
d={'0':"10",'1':"20"}
print("Before adding key : ")
print(d)
d.update({'2':"30"})
print("After adding key : ")
print(d)

Before adding key :
{'0': '10', '1': '20'}
After adding key :
{'0': '10', '1': '20', '2': '30'}

In [ ]:
#9
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4 = {}
for d in (d1, d2, d3): 
  d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#10
d={'1':"10",'2':"20",'3':"30"}
i=input("Enter the key : ")
if i in d.keys():
  print("Present ")
else:
    print("Not present")

Enter the key : 2
Present

In [ ]:
#11
tup=(10,20,30,40)
print(tup[2])

30

In [ ]:
#12
tup=(10,20,30,40,50,60,70,80)
print(tup[3])
print(tup[len(tup)-4])

40
50

In [ ]:
#13
lis=[10,20,30,40]
tup=tuple(lis)
print(type(lis))
print(type(tup))
print(tup)

<class 'list'>
<class 'tuple'>
(10, 20, 30, 40)

In [ ]:
#14
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result
nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))
nums = ((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))
print ("\nOriginal Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

<class 'list'>
<class 'tuple'>
(10, 20, 30, 40)

In [ ]:
#15
colors = (('Red', 'White', 'Blue'),('Green', 'Pink', 'Purple'),('Orange', 'Yellow', 'Lime'))
print("Original list:")
print(colors)
c1 =input("Enter any color :- ")
print("\nCheck if",c1,"present in said tuple of tuples!")
if (c1 in tup for tup in colors):
  print("Present")
else:
    print("Not present")

Original list:
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
Enter any color :- pink

Check if pink present in said tuple of tuples!
Present

In [ ]:
#16
a={10,20,30}
type(a)
f="yes"
while f or Yes:
  d=input("Enter the number to add in Set :- ")
  a.update({d})
  print(a)
  e=input("Do you want to add another number :- ")
  if(e=="No" or e=="no"):
    break

Enter the number to add in Set :- 10
{10, 20, 30, '10'}
Do you want to add another number :- no

In [ ]:
#17
a={10,20,30}
print("Before removing elements :- ")
print(a)
print(type(a))
a.pop()
print("After removing the first element:- ")
print(a)

Before removing elements :-
{10, 20, 30}
<class 'set'>
After removing the first element:-
{20, 30}

In [ ]:
#18
s1={"10","20"}
s2={"20","30"}
print("Original set elements:")
print(s1)
print(s2)
print("Intersection of two sets :")
print(s1 & s2)

Original set elements:
{'20', '10'}
{'30', '20'}
Intersection of two sets :
{'20'}

In [ ]:
#19
s1={"10","20","30"}
s2={"30","40","50"}
print("Original set elements:")
print(s1)
print(s2)
print("Difference of set1 - set2 :")
print(s1 - s2)

Original set elements:
{'30', '20', '10'}
{'50', '30', '40'}
Difference of set1 - set2 :
{'20', '10'}

In [ ]:
#20
a = [10,20,30,40]
print("Before reversing the list: ")
print(a)
print("After reversing the list: ")
print(a[::-1])

Before reversing the list:
[10, 20, 30, 40]
After reversing the list:
[40, 30, 20, 10]

In [ ]:
#21
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [ ]:
#22
a= [23, 34, "hello", 32, 56] 
print("Total count of items are:",len(a))

Total count of items are: 5

In [ ]:
#23
a = [10,20,30,40]
print("Before reversing the list: ")
print(a)
print("After reversing the list: ")
print(a[::-1])

Before reversing the list:
[10, 20, 30, 40]
After reversing the list:
[40, 30, 20, 10]

In [ ]:
#24
a = [1, 2, 3, 4, 5,6]
print("List before squaring : ")
print(a)
print("List after squaring : ")
for i in a:
  print(i**2)

List before squaring :
[1, 2, 3, 4, 5, 6]
List after squaring :
1
4
9
16
25
36

In [ ]:
#25
a = [23, 45, 67, 8, 9]
x=input("Enter item to insert: ")
a.append(x)
print(a)

Enter item to insert: study
[23, 45, 67, 8, 9, 'study']

In [ ]:
#26
total = 0
a = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    a.append(numbers) 
for ele in range(0, len(a)):
    total = total + a[ele]
# printing total value
print("Sum of all elements in given list: ", total)

How many numbers: 3
Enter number 1
Enter number 2
Enter number 3
Sum of all elements in given list:  6

In [ ]:
#27
a = []
num = int(input('How many numbers:- '))
for n in range(num):
    numbers = int(input('Enter number '))
    a.append(numbers)
print("Maximum element in given list is :", max(a))

How many numbers:- 4
Enter number 1
Enter number 2
Enter number 3
Enter number 4
Maximum element in given list is : 4

In [ ]:
#28
n1 = float(input('Enter first number: '))
n2 = float(input('Enter second number: '))
sum = n1 + n2
diff = n1-n2
mul = n1*n2
div = n1/n2
print("The sum of the given numbers is %f ", sum)
print("The difference of the given numbers is %f ", diff)
print("The multiplication of the given numbers is %f ", mul)
print("The division of the given numbers is %f " ,div)

Enter first number: 1
Enter second number: 2
The sum of the given numbers is %f  3.0
The difference of the given numbers is %f  -1.0
The multiplication of the given numbers is %f  2.0
The division of the given numbers is %f  0.5

In [ ]:
#29
NumList1 = [10, 20, 30]
NumList2 = [5, 2, 3]
add = []
sub = []
multi = []
div = []
mod = []
expo = []
for j in range(3):
    add.append( NumList1[j] + NumList2[j])
    sub.append( NumList1[j] - NumList2[j])
    multi.append( NumList1[j] * NumList2[j])
    div.append( NumList1[j] / NumList2[j])
    mod.append( NumList1[j] % NumList2[j])
    expo.append( NumList1[j] ** NumList2[j])
print("\n The lists before operations are : ")
print(NumList1)
print(NumList2)
print("\nThe List Items after Addition =  ", add)
print("The List Items after Subtraction =  ", sub)
print("The List Items after Multiplication =  ", multi)
print("The List Items after Division =  ", div)
print("The List Items after Modulus =  ", mod)
print("The List Items after Exponent =  ", expo)

 The lists before operations are :
[10, 20, 30]
[5, 2, 3]

The List Items after Addition =   [15, 22, 33]
The List Items after Subtraction =   [5, 18, 27]
The List Items after Multiplication =   [50, 40, 90]
The List Items after Division =   [2.0, 10.0, 10.0]
The List Items after Modulus =   [0, 0, 0]
The List Items after Exponent =   [100000, 400, 27000]

In [ ]:
#30
a = [(2, 3), (4, 7), (8, 11), (3, 6)]
print ("The original list is : " + str(a))
r1 = min(a)[0], max(a)[0]
r2 = min(a)[1], max(a)[1]
print ("The min and max of index 1 :  " +  str(r1))
print ("The min and max of index 2 :  " +  str(r2))

The original list is : [(2, 3), (4, 7), (8, 11), (3, 6)]
The min and max of index 1 :  (2, 8)
The min and max of index 2 :  (3, 11)